<!DOCTYPE html>
<html>
<head>
  <title>Gumby</title>
  <%= stylesheet_link_tag    "gumby/application", media: "all" %>
  <%= javascript_include_tag "gumby/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
